@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



$vert:   #99E2D0;
$orange: #FF79DA;
$marron: #9356DC;
$police-titre: Shrikhand;
$police-base: Roboto;





h1{
    color:$orange;
    font-family: $police-base;
    font-weight:900;
}