@import "./Utils/var-mixins";
@import "./Utils/keyframes";

@import "./Base/_bases.scss";

@import "./Composants/loader.scss";

@import "./Pages/accueil";
@import "./Pages/menu.scss";




/* ------------- HEADER -------------- */
.header__titre{
    @include logo;
    text-align:center;
    margin: 12px 0 5px 0;
    }







/* ----------- FOOTER ------------- */ 
.footer{
    background-color:#353535;
    padding:25px;
    &__titre{
        color:white;
        font-family: $police-titre;
        font-size:13px;
        font-weight:400;
        margin:0;
    }
    &__ul{
        list-style-type: none;
        padding:0;
    }
    &__a{
        color:white;
        text-decoration: none;
        font-size:11px;
        font-weight:500;
    }
}

.footer__logo{
    margin-right:5px;
}
.footer__logo-2{
    margin-right:4px;
    font-size:7px;
}





