@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@-webkit-keyframes disparition {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes disparition {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@-webkit-keyframes tournicoti {
  to {
    transform: rotate(360deg);
  }
}
@keyframes tournicoti {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes tournicoti-burger {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes tournicoti-burger {
  to {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes tourne-logo {
  to {
    transform: rotate(360deg);
  }
}
@keyframes tourne-logo {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes apparition {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes apparition {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  margin: 0;
}

* {
  font-family: Roboto;
}

.loader {
  display: grid;
  place-items: center;
  position: fixed;
  inset: 0;
  z-index: 5;
  background-color: #f6f6f6;
  -webkit-animation: disparition 0.2s forwards 2.8s;
          animation: disparition 0.2s forwards 2.8s;
}
.loader::after {
  content: "";
  height: 85px;
  width: 85px;
  border-top: 6px solid #99E2D0;
  border-radius: 50%;
  -webkit-animation: tournicoti 0.8s infinite ease-in-out;
          animation: tournicoti 0.8s infinite ease-in-out;
}

.loader > i {
  font-size: 28px;
  -webkit-animation: tournicoti-burger 1s 1.3s ease-in-out;
          animation: tournicoti-burger 1s 1.3s ease-in-out;
  padding: 25px;
  border-radius: 50%;
  background-color: #FF79DA;
  color: #f6f6f6;
  position: absolute;
}

/* ------------- HEADER -------------- */
.header__titre {
  font-family: Shrikhand;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin: 12px 0 5px 0;
}

/* ---------- SOUS HEADER -------- */
.sous-header {
  background-color: #eaeaea;
  box-shadow: inset 0 2px 2px rgba(204, 204, 204, 0.676);
  display: flex;
  padding-top: 10px;
  justify-content: center;
  color: rgb(72, 72, 72);
  font-size: 11px;
  font-weight: 600;
}
.sous-header__texte {
  padding-left: 15px;
  margin-top: 0;
}

/* -------- TEXTE SOUS HEADER --------    */
.texte-header {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 45px;
}
.texte-header__titre {
  margin: 0 0;
  padding-top: 25px;
  font-size: 18px;
  font-weight: 800;
}
.texte-header__paragraphe {
  font-size: 12.5px;
  color: rgb(93, 93, 93);
  margin: 9px 0 25px 0;
}
.texte-header__bouton {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(to top, rgba(181, 57, 146, 0.959), rgba(240, 110, 205, 0.867));
  font-size: 11px;
  font-weight: 500;
  border-radius: 20px;
  padding: 11px 18px;
  box-shadow: 0 2px 5.5px 0 rgba(179, 179, 179, 0.813);
}
.texte-header__bouton:hover {
  background-image: linear-gradient(to top, rgba(181, 88, 154, 0.959), rgba(240, 110, 205, 0.867));
  box-shadow: 0 5px 8px 0 rgba(179, 179, 179, 0.813);
  transition: 0.4s;
}

/* -------- ARTICLE FONCTIONNEMENT ------- */
.article-fonctionnement {
  box-sizing: border-box; /* a enlever? */
  margin: 40px 15px;
}
.article-fonctionnement__titre {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 25px;
}

/* -- vignettes -- */
.section-vignette {
  box-sizing: border-box; /* a enlever ? */
  margin-left: 7px;
}

.vignette {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  box-shadow: 0 2px 5.5px 0 rgba(179, 179, 179, 0.813);
  border-radius: 16px;
  padding: 6px 0;
  margin-bottom: 16px;
  cursor: pointer;
}
.vignette__chiffre {
  font-size: 9px;
  color: white;
  padding: 4px 7px;
  border-radius: 30px;
  background-color: #9356DC;
  margin-left: -9px;
}
.vignette__titre {
  font-size: 12px;
}
.vignette:hover {
  background-color: #f5edff;
}

.vignette__logo {
  color: grey;
  margin: 0 20px;
  font-size: 14px;
}

.vignette__logo--petit {
  font-size: 13px;
}

/* ----------- ARTICLE RESTAURANTS ------------- */
.article-restaurants {
  padding: 20px 15px 40px 15px;
  background-color: #f6f6f6;
}
.article-restaurants__titre {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 20px;
}

/* --------- vignettes menu --------- */
.menu {
  background-color: white;
  margin: 0 0 10px 0;
  border-radius: 10px;
  box-shadow: 0 2px 5.5px 0 rgba(207, 207, 207, 0.813);
  height: 180px;
}
.menu__lien {
  text-decoration: none;
}
.menu__image {
  height: 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.menu__nouveau {
  position: absolute;
  right: 22px;
  margin-top: 10px;
  padding: 4px 8px;
  font-size: 9.5px;
  font-weight: 600;
  border-radius: 3px;
  background-color: #99E2D0;
  color: #139273;
}
.menu__texte {
  display: flex;
  color: black;
}
.menu__texte__titre {
  margin: 5px 0 0 8px;
  font-size: 12px;
  font-weight: 900;
}
.menu__texte__p {
  margin: 4px 0 0 8px;
  font-size: 11px;
}

.menu__coeur {
  position: absolute;
  right: 29px;
  margin-top: 11.5px;
  width: 20px;
  height: 20px;
  z-index: 2;
}

.menu__coeur--transition {
  position: absolute;
  right: 29px;
  margin-top: 11.5px;
  width: 20px;
  height: 20px;
  z-index: 3;
  opacity: 0;
}
.menu__coeur--transition:hover {
  opacity: 1;
  transform: scale(1.05);
  transition: 0.5s;
}

/* ----------- FOOTER ------------- */
.footer {
  background-color: #353535;
  padding: 25px;
}
.footer__titre {
  color: white;
  font-family: Shrikhand;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
}
.footer__ul {
  list-style-type: none;
  padding: 0;
}
.footer__a {
  color: white;
  text-decoration: none;
  font-size: 11px;
  font-weight: 500;
}

.footer__logo {
  margin-right: 5px;
}

.footer__logo-2 {
  margin-right: 4px;
  font-size: 7px;
}

/* ---------- PAGE MENU DELICES ----------------  */
/* ---- HEADER ------- */
.menu-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-header__lien {
  position: relative;
  right: 50px;
  top: 1px;
  color: black;
}
.menu-header__logo {
  font-family: Shrikhand;
  font-size: 22px;
  font-weight: 500;
  margin: 7px 0 3px 0;
}

/* -------- IMAGE SOUS LE HEADER ------- */
.menu-sous-header__image {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ---------- ARTICLE ENTREE PLAT DESSERT ------ */
.menu-article {
  position: relative;
  margin-top: -35px;
  padding: 1px 12px 0 12px;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
}
.menu-article__div {
  display: flex;
  align-items: center;
}
.menu-article__titre {
  font-family: Shrikhand;
  font-size: 22px;
  font-weight: 500;
  margin: 15px 0 0 0;
}

/* ------------------- LISTE DANS L'ARTICLE --------------- */
.menu-liste {
  list-style-type: none;
  padding: 0;
  -webkit-animation: apparition 0.7s both;
          animation: apparition 0.7s both;
}
.menu-liste:nth-child(1) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.menu-liste:nth-child(2) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.menu-liste:nth-child(3) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
.menu-liste__titre {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
}
.menu-liste__titre::after {
  display: flex;
  content: "";
  border: solid #99e2d0 1.2px;
  background-color: #99e2d0;
  width: 28px;
  margin-top: 3px;
}
.menu-liste__lien {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: black;
}
.menu-liste__lien:hover .menu-liste__animation {
  width: 50px;
  visibility: visible;
  transition: 0.4s;
  margin-left: 0;
  flex-shrink: 0;
}
.menu-liste__lien:hover .a {
  -webkit-animation: tourne-logo 0.5s;
          animation: tourne-logo 0.5s;
}
.menu-liste__lien:hover .menu-liste__strong {
  right: 65px;
  transition: 0.4s;
}
.menu-liste__strong {
  position: absolute;
  right: 15px;
}
.menu-liste__ul {
  padding: 0;
}
.menu-liste__li {
  box-shadow: 0 0 12px 0 #c3c3c3;
  border-radius: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}
.menu-liste__h2 {
  font-size: 14px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-liste__p {
  font-weight: 300;
  font-size: 12px;
  margin: 6px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-liste__div {
  margin: 10px 40px 10px 10px;
  overflow: hidden;
}
.menu-liste__animation {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  width: 0%;
  height: 60px;
  border-radius: 0 15px 15px 0;
  color: white;
  font-size: 18px;
  background-color: #99e2d0;
}

/* ----- bouton commander ----------- */
.menu-bouton__div {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.texte-header__bouton--menu {
  padding: 13px 40px;
  font-size: 13px;
}/*# sourceMappingURL=main.css.map */