@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  margin: 0;
}

* {
  font-family: Roboto;
}

/* ------------- HEADER -------------- */
.header {
  border-bottom: rgb(193, 193, 193) solid 0.3px;
}

.header__titre {
  font-family: Shrikhand;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin: 12px 0 5px 0;
}

/* ---------- SOUS HEADER -------- */
.sous-header {
  background-color: rgba(231, 231, 231, 0.793);
  box-shadow: inset 0 2px 2px rgba(204, 204, 204, 0.676);
  display: flex;
  padding-top: 10px;
  justify-content: center;
  color: rgb(72, 72, 72);
  font-size: 11px;
  font-weight: 600;
}
.sous-header__texte {
  padding-left: 15px;
  margin-top: 0;
}

#sous-header__logo {
  font-size: 13.5px;
}

/* -------- TEXTE SOUS HEADER --------    */
.texte-header {
  text-align: center;
  background-color: rgba(231, 231, 231, 0.355);
  padding-bottom: 45px;
}
.texte-header__titre {
  margin: 0 0;
  padding-top: 25px;
  font-size: 18px;
  font-weight: 800;
}
.texte-header__paragraphe {
  font-size: 12.5px;
  font-weight: 400;
  color: rgb(93, 93, 93);
  margin: 9px 0 25px 0;
}
.texte-header__bouton {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(to top, rgba(181, 57, 146, 0.959), rgba(240, 110, 205, 0.867));
  font-size: 11px;
  font-weight: 500;
  border-radius: 20px;
  padding: 11px 18px;
  box-shadow: 0 2px 5.5px 0 rgba(179, 179, 179, 0.813);
}
.texte-header__bouton:hover {
  background-image: linear-gradient(to top, rgba(181, 88, 154, 0.959), rgba(240, 110, 205, 0.867));
  box-shadow: 0 5px 8px 0 rgba(179, 179, 179, 0.813);
  transition: 0.4s;
}

/* -------- ARTICLE FONCTIONNEMENT ------- */
.article-fonctionnement {
  box-sizing: border-box;
  margin: 40px 15px;
}
.article-fonctionnement__titre {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 25px;
}

/* -- vignettes -- */
.section-vignette {
  box-sizing: border-box;
  margin-left: 7px;
}

.vignette {
  display: flex;
  align-items: center;
  background-color: rgba(231, 231, 231, 0.355);
  box-shadow: 0 2px 5.5px 0 rgba(179, 179, 179, 0.813);
  border-radius: 16px;
  padding: 6px 0;
  margin-bottom: 16px;
  cursor: pointer;
}
.vignette__chiffre {
  font-size: 9px;
  font-weight: 400;
  color: white;
  padding: 4px 7px;
  border-radius: 30px;
  background-color: #9356DC;
  margin-left: -9px;
}
.vignette__titre {
  font-size: 12px;
}

.vignette:hover {
  background-color: #f5edff;
}

#vignette__logo, #vignette__logo-2 {
  color: grey;
  margin: 0 20px;
  font-size: 14px;
}

#vignette__logo-3 {
  color: grey;
  margin: 0 20px;
  font-size: 13px;
}

/* ----------- ARTICLE RESTAURANTS ------------- */
.article-restaurants {
  padding: 20px 15px 40px 15px;
  background-color: rgba(231, 231, 231, 0.355);
}
.article-restaurants__titre {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 20px;
}

/* --------- vignettes menu --------- */
.menu {
  background-color: white;
  margin: 0 0 10px 0;
  border-radius: 10px;
  box-shadow: 0 2px 5.5px 0 rgba(207, 207, 207, 0.813);
  height: 180px;
}
.menu__lien {
  text-decoration: none;
}
.menu__image {
  height: 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.menu__nouveau {
  position: absolute;
  right: 22px;
  margin-top: 10px;
  padding: 4px 8px;
  font-size: 9.5px;
  font-weight: 600;
  border-radius: 3px;
  background-color: #99E2D0;
  color: rgb(19, 153, 19);
}
.menu__texte {
  display: flex;
  justify-content: space-between;
  color: black;
}
.menu__texte__titre {
  margin: 5px 0 0 8px;
  font-size: 12px;
  font-weight: 900;
}
.menu__texte__p {
  margin: 4px 0 0 8px;
  font-size: 11px;
}

.menu__coeur {
  position: absolute;
  right: 29px;
  margin-top: 11.5px;
  width: 20px;
  height: 20px;
  z-index: 2;
}

.menu__coeur--transition {
  position: absolute;
  right: 28px;
  margin-top: 10px;
  width: 22px;
  height: 22px;
  z-index: 3;
  opacity: 0;
}
.menu__coeur--transition:hover {
  opacity: 1;
  transition: 0.5s 0.5s;
  color: rgb(234, 18, 54);
  transform: scale(1.2);
  transition: 1s;
}

/* ----------- FOOTER ------------- */
.footer {
  background-color: rgb(56, 56, 56);
  padding: 25px;
}
.footer__titre {
  color: white;
  font-family: Shrikhand;
  font-size: 17px;
  font-weight: 400;
  margin: 0;
}
.footer__ul {
  list-style-type: none;
  padding: 0;
}
.footer__ul > li {
  margin: 3px 0;
}
.footer__a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

#footer__logo {
  color: white;
  margin-right: 10px;
  font-size: 13px;
}

#footer__logo-2 {
  color: white;
  margin-right: 6px;
  font-size: 12px;
}

/* ---------- PAGE MENU DELICES ----------------  */
/* ---- HEADER ------- */
.menu-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-header__lien {
  position: absolute;
  left: 7%;
  top: 13px;
  color: black;
}
.menu-header__logo {
  font-family: Shrikhand;
  font-size: 22px;
  font-weight: 500;
  margin: 7px 0 3px 0;
}

/* -------- IMAGE SOUS LE HEADER ------- */
.menu-sous-header__image {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ---------- ARTICLE ENTREE PLAT DESSERT ------ */
.menu-article {
  position: relative;
  margin-top: -35px;
  padding: 1px 12px 0 12px;
  background-color: white;
  border-radius: 30px 30px 0 0;
}
.menu-article__div {
  display: flex;
  align-items: center;
}
.menu-article__titre {
  font-family: Shrikhand;
  font-size: 22px;
  font-weight: 500;
  margin: 15px 0 0 0;
}

/* ------------------- LISTE DANS L'ARTICLE --------------- */
.menu-liste {
  list-style-type: none;
  padding: 0;
}
.menu-liste__titre {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
}
.menu-liste__titre::after {
  display: flex;
  content: "";
  border: solid #99e2d0 1.2px;
  background-color: #99e2d0;
  width: 33px;
  margin-top: 3px;
}
.menu-liste__lien {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: black;
}
.menu-liste__ul {
  padding: 0;
  list-style-type: none;
}
.menu-liste__li {
  padding: 0;
  box-shadow: 2px 5px 13px 5px #000000;
  border-radius: 15px;
}
.menu-liste__h2 {
  font-size: 14px;
  margin: 0;
}
.menu-liste__p {
  font-weight: 300;
  font-size: 12px;
  margin: 6px 0 0 0;
}
.menu-liste__div {
  margin: 10px 10px;
}
.menu-liste__animation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 60px;
  border-radius: 0 15px 15px 0;
  color: white;
  font-size: 18px;
  background-color: #99e2d0;
}

/* ----- LOADER SCSS -------- */
.loader {
  display: grid;
  place-items: center;
  position: fixed;
  inset: 0;
  z-index: 5;
  background-color: rgb(242, 242, 242);
  height: 100vh;
  -webkit-animation: disparition 0.1s forwards 2.8s;
          animation: disparition 0.1s forwards 2.8s;
  transform-origin: center 100px;
}
.loader::after {
  content: "";
  height: 85px;
  width: 85px;
  border-top: 6px solid rgb(59, 59, 59);
  border-radius: 50%;
  -webkit-animation: tournicoti 0.8s infinite ease-in-out;
          animation: tournicoti 0.8s infinite ease-in-out;
}

.loader > i {
  font-size: 28px;
  -webkit-animation: tournicoti-burger 1s 1.3s ease-in-out;
          animation: tournicoti-burger 1s 1.3s ease-in-out;
  padding: 25px;
  border-radius: 50%;
  background-color: rgb(32, 64, 241);
  color: rgb(255, 255, 255);
  position: absolute;
}

@-webkit-keyframes disparition {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes disparition {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@-webkit-keyframes tournicoti {
  to {
    transform: rotate(360deg);
  }
}
@keyframes tournicoti {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes tournicoti-burger {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes tournicoti-burger {
  to {
    transform: rotate(-360deg);
  }
}/*# sourceMappingURL=main.css.map */