/* ---- TABLETTE ---- */ 

/* ----HEADER---- */ 
.header__titre{
    font-size:29px;
}


/* SOUS HEADER */ 
.sous-header{
    font-size:18px;
    padding-top:20px;
}
.sous-header__logo{
    font-size:17px;
}


/* TEXTE SOUS HEADER */ 
.texte-header__titre{
    font-size:23px;
}
.texte-header__paragraphe{
    font-size:16px;
}
.texte-header__bouton{
    font-size:15px;
    padding: 15px 22px;
}


/* ARTICLE VIGNETTES --- fonctionnement */ 
.section-vignette{
    display:flex;
    justify-content: space-evenly;
}

.vignette{
    padding:10px 15px;
    &__chiffre{
        margin-left: -24px;
    }
}


/* ---- SECTION RESTAURANTS ---- */ 
.section-restaurants{
    display:flex;
    flex-wrap: wrap;
    gap:40px;
}
.menu{
    position:relative; 
    margin-bottom:0;
    &__nouveau{
         right:15px;
    }
    &__lien{
        width:47%;
    }
}


/* ---- FOOTER ---- */ 
.footer{
    text-align:center;
}

.footer__titre{
    font-size:19px;
}
.footer__a{
    font-size:14px;
}
.footer__logo-2{
    font-size:13px;
}


/* ---- version ordinateur ----  */ 
@media screen and (min-width:998px){
    
.header__titre{
        font-size:35px;
}
.sous-header{
    font-size:21px;
    padding-top:22px;
}
.sous-header__logo{
font-size:19px;
}


/* TEXTE- sous -HEADER */ 
.texte-header__titre{
    font-size:26px;
}
.texte-header__paragraphe{
    font-size:19px;
}
.texte-header__bouton{
    font-size:18px;
}


/* SECTION VIGNETTES --- fonctionnement */
.vignette{
    padding:10px 40px;
}

.vignette__chiffre{
        margin-left: -50px;
        font-size:13px;
        padding: 6px 10px;
    }

.vignette__titre{
        font-size:16px;
    }

.vignette__logo{
        font-size:17px;
    }


}


/*------PAGE MENU DELICES TABLETTE----- */ 
.section-page-menu{
    display:flex;
    justify-content: space-around;
}

.menu-liste{
    width:30%;
}

.menu-bouton__div{
    padding: 15px 0 45px 0;
}

.texte-header__bouton--menu{
    padding:13px 40px;
    font-size:13px;
    border-radius:30px;
}

