$marron: #9356DC;
$orange: #FF79DA;
$vert: #99E2D0; 
$fond-gris: #f6f6f6;


$police-titre: Shrikhand;
$police-base: Roboto;



@mixin titres-H2{
    font-size:17px;
    font-weight:700;
}

@mixin logo{
    font-family: $police-titre;
        font-size:22px;
        font-weight: 500;
}


@mixin trois-petits-points{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin coeurs {
    position:absolute;
    right:29px;
    margin-top:11.5px;
    width:20px;
    height:20px;
}


@mixin flex-space-between {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
@mixin flex-center{
        display: flex;
        justify-content: center;
        align-items: center;
}